$color-active: rgba(204, 204, 204, 1);
$color-main: rgba(0, 0, 0, 1);
$color-normal: rgba(242, 242, 242, 1);
$color-secondary: rgba(61, 61, 61, 1);
$color-pure: rgba(255, 255, 255, 1);
$color-inactive: rgba(235, 235, 235, 1);